<mat-toolbar color="primary">
    <span><mat-icon>mood</mat-icon></span>

    <span>Welcome to {{ title }}!</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <mat-card>
  <button mat-fab color="primary">
    <mat-icon>send</mat-icon>
  </button>
  <button mat-mini-fab color="accent">
      <mat-icon>send</mat-icon>
  </button>
</mat-card>

  <mat-card>
  <mat-button-toggle-group>
    <mat-button-toggle>Small</mat-button-toggle>
    <mat-button-toggle>Medium</mat-button-toggle>
    <mat-button-toggle>Large</mat-button-toggle>
    <mat-button-toggle disabled>X-Large</mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>

<mat-card>
  <mat-button-toggle-group>
    <mat-button-toggle value="good"><mat-icon>thumb_down</mat-icon></mat-button-toggle>
    <mat-button-toggle value="bad"><mat-icon>thumb_up</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>


<mat-card>
  <mat-checkbox indeterminate="isIndeterminate">
    Inderterminate
  </mat-checkbox>
  <mat-checkbox [checked]="isChecked">
    Checked already
  </mat-checkbox>
  <mat-checkbox>
    Unchecked
  </mat-checkbox>
</mat-card>


<mat-card>
  <mat-grid-list cols="3">
   <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
     Sunny    
   </mat-grid-tile>
   <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
     Kant
   </mat-grid-tile>
   <mat-grid-tile>
     Kumar
   </mat-grid-tile>
  </mat-grid-list>
</mat-card>


<mat-card>
  <mat-radio-group>
    <mat-radio-button value="bacon">
      Bacon
    </mat-radio-button>
    <mat-radio-button value="ham">
      Ham
    </mat-radio-button>
    <mat-radio-button value="chicken" [checked]="isChecked">
      Chicken
    </mat-radio-button>
  </mat-radio-group>
</mat-card>

<mat-card>
  <mat-form-field>
    <input matInput placeholder="Your Text" dividerColor="accent">
  </mat-form-field>  
</mat-card>

<mat-card>
  <mat-tab-group [selectedIndex]="2">
    <mat-tab label="Breakfast">
      <h3>Breakfast option</h3>
      <p>Toast /w peanut butter</p>
    </mat-tab>
    <mat-tab label="Lunch">
      <h3>Lunch option</h3>
      <p>Club sandwich</p>
    </mat-tab>
    <mat-tab label="Dinner">
      <h3>Dinner option</h3>
      <p>Salads</p>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card>
<mat-form-field>
  <input matInput value="Disco party!" placeholder="Message" #message>
</mat-form-field>

<mat-form-field>
  <input matInput value="Dance" placeholder="Action" #action>
</mat-form-field>
    <button mat-button (click)="showSnackbar(message.value, action.value)">Show snack-bar</button>
    </mat-card>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button mat-fab><mat-icon>check circle</mat-icon></button>
</span>


<mat-card>
<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    {{name}} likes <i>{{animal}}</i>
  </li>
</ol>
  </mat-card>